:root {
    --primery-text-color:#434455;
    --title-text-color:#2E2F42;
    --color-web:#4D5AE5;
    --color-title:#FFFFFF;
    --color-footer-text:#F4F4FD;
    --hover-and-focus-color:#404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primery-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header {

}

.header-navigation {

}

.link {

}

.header-logo {
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-web);
}

.header-logo-span {
    color: var(--title-text-color);
}

.header-list {
    
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-item:is(:hover, :focus) {
    color: var(--hover-and-focus-color);
} 
 
.header-address {
font-style: normal;
font-style: normal;
}

.address-list {
list-style: none;
}

.address-item {

}

.address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.address-mail:hover {
    color: var(--hover-and-focus-color);
}

.address-mail:focus {
    color: var(--hover-and-focus-color);
}

.address-phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.address-phone:hover {
    color: var(--hover-and-focus-color);
}

.address-phone:focus {
    color: var(--hover-and-focus-color);
}

.hero {

}

.hero-list {

}

.hero-item {

}

.hero-btn {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-web);
    background-color: var(--color-footer-text);
    cursor: pointer;
}

.hero-btn:hover {
    color: var(--color-title);
    background-color: var(--hover-and-focus-color);
}

.hero-btn:focus {
    color: var(--color-title);
    background-color: var(--hover-and-focus-color);
}

.card-list {

}

.card-item {

}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.card-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.footer {
    background-color: var(--title-text-color);
}

.footer-logo {
font-family: "Raleway",sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-web);
}

.footer-logo-span {
    color: var(--color-footer-text);
}

.footer-paragraph {
    
}