body {
    font-family: "Roboto", sans-serif;
    color: var(--primery-text-color);
    background-color: var(--color-title);
    :root
}

:root {
    --primery-text-color:#434455;
    --title-text-color:#2E2F42;
    --color-web:#4D5AE5;
    --color-title:#FFFFFF;
    --color-footer-text:#F4F4FD;
    --hover-and-focus-color:#404BBF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 141px;
    padding-right: 141px;
    margin: auto;
}

.header {

}

.header-navigation {

}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-web);
}

.header-logo-span {
    color: var(--title-text-color);
}

.header-list:is(:hover, :focus) {
    color: var(--hover-and-focus-color);
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-item:is(:hover, :focus) {
    color: var(--hover-and-focus-color);
}

.header-address{
    font-style: normal;
}

.header-address-list{
    
}

.header-address-item {

}

.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.address:hover {
    color: var(--hover-and-focus-color);
}

.address:focus {
    color: var(--hover-and-focus-color);
}

.header-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.header-phone:hover {
    color: var(--hover-and-focus-color);
}

.header-phone:focus {
    color: var(--hover-and-focus-color);
}

.hero {
    background: var(--title-text-color);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-title);
    background: var(--color-web);
    cursor: pointer;
}

.hero-btn:hover {
    background: var(--hover-and-focus-color);
}

.hero-btn:focus {
    background: var(--hover-and-focus-color);
}

.feature {

}

.feature-list {

    
}

.feature-item {
    width: 264px;
    height: 104px;
    left: 156px;
    top: 792px;
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.feature-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.work {

    
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.work-list {

}

.work-item {

}

.team {
    background-color: var(--color-footer-text);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    
}

.team-list {
    background-color: var(--color-title);
}

.team-item {
    background-color: var(--color-title);
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.footer {
    background: var(--title-text-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-web);
}

.footer-logo-span {
    color: var(--color-footer-text);
}

.footer-top-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer-text);
}

/*-------------початок портфоліо-------------*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--primery-text-color);
}

.portfolio {

}

.portfolio-list {

}

.portfolio-item {

}

.portfolio-btn {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-web);
    background-color: var(--color-footer-text);
    cursor: pointer;
}

.portfolio-btn:hover {
    color: var(--color-title);
    background-color: var(--hover-and-focus-color);
}

.portfolio-btn:focus {
    color: var(--color-title);
    background-color: var(--hover-and-focus-color);
}

.card-list {

}

.card-item {

}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.card-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}